.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 358px;
}

.auth__title {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Inter Black', sans-serif;
  margin-bottom: 50px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 358px;
}

.auth__input {
  width: 100%;
  height: 27;
  padding-bottom: 8px;
  border-bottom-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: white;
  font-size: 14px;
  background-color: transparent;
  color: white;
}

.auth__input::placeholder {
  color: #ffffff;
  border: none;
  opacity: 0.7;
}

.auth__input:focus {
  outline: none;
  border-bottom-color: #273ea5;
  border-width: 2px;
  background-color: transparent;
}

.auth__submit-button {
  width: 100%;
  max-width: 358px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 216px;
}

.auth__submit-register {
  width: 100%;
  max-width: 358px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 160px;
}

.auth__submit-register:hover {
  opacity: 0.6;
}

.auth__submit-button:hover {
  opacity: 0.6;
}

.auth__caption {
  margin-top: 15px;
  font-size: 14px;
  color: #ffffff;
}

.auth__link {
  color: #ffffff;
  text-decoration: underline;
  font-family: 'Inter Black', sans-serif;
  font-weight: 600;
}

.auth__link:hover {
  opacity: 0.7;
  color: #0296ff;
}

.auth__password-wrapper {
  position: relative;
  width: 100%;
}

.auth__toggle-password {
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  color: #666;
}

.auth__toggle-password:hover {
  opacity: 0.7;
}

.auth__error {
  color: #ff4d4d;
  font-size: 14px;
  margin: 6px 0 -56px 0;
}

@media screen and (max-width: 320px) {
  .auth__form {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
