.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 41px;
  width: 100%;
  margin: 20px 0 40px 0;
}

.header__logo {
  max-width: 173px;
}

.header__divider {
  width: 100%;
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: -20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__caption {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
  font-weight: 500;
  opacity: 0.6;
}

.header__email {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.header__logout {
  background: transparent;
  border: none;
  color: #a9a9a9;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.header__logout:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Oculto en desktop */
.header__menu-button {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
}

/* Barra debajo del header */
.headerMenuBar {
  display: none;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #545454;
  padding: 16px 27px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.headerMenuBar__email {
  color: #ffffff;
  font-size: 18px;
}

.headerMenuBar__logout {
  background: transparent;
  border: none;
  color: #a9a9a9;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.headerMenuBar__logout:hover {
  opacity: 0.7;
  text-decoration: underline;
}

/* ======= NUEVO BREAKPOINT 630px ======= */
@media screen and (max-width: 630px) {
  .header {
    gap: 32px;
    margin: 28px 0 42px 0;
    z-index: 10;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
    margin: 0 auto 0 27px;
  }

  .header__user-info {
    display: none;
  }

  .header__menu-button {
    display: block;
    margin-right: 27px;
  }

  .header__menu-button:hover .header__menu-icon {
    opacity: 0.6;
  }

  .header__right {
    gap: 15px;
    display: flex;
    justify-content: flex-start;
  }

  .header__caption {
    font-size: 14px;
    margin-right: 20px;
  }

  .headerMenuBar {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .headerMenuBar__email,
  .headerMenuBar__logout {
    font-size: 16px;
  }

  .headerMenuBar__logout:hover {
    opacity: 0.6;
    text-decoration: underline;
  }
}
